{% extends 'base.html' %}
{% block content %}
<h1>Hola, {{user.username}}</h1>


{% for score in card_score %}
<div class="container">
    <div class="row">
    <div class="col">
        <small>{{ score.score_card.paymentsystem }}</small>
    </div>
    <div class="col">
        ****{{score.score_card.card_number | slice:":4"}}
    </div>
    <div class="w-100"></div>
    <div class="col"><p>{{ score.score_balance.balance }}
    {{ score.currency.get }}</div>
    <div class="col">{{score.score_card.type_card}}</div>

        {% endfor %}
</div></div>



{% if all_credit %}
<h5>Кредиты</h5>
{% for credit in all_credit %}
<div class="container">
    <div class="row">

    <div class="col">
        <small>{{credit.name}}</small>
    </div>

        <div class="col"><em class="text-dark">11 мая 2021</em>
    </div>
    <div class="w-100"></div>
    <div class="col"><p>
    {{ credit.loan_credit }}
    {{ credit.currency.symbol }}
    </div>

        <div class="col"><em class="text-dark">к оплате 9064 Р</em></div>
{% endfor %}
</div></div>
{% endif %}
{% endblock content %}