{% extends 'base.html' %}
{% block content %}
<h1>Hola, {{user.username}}</h1>


{% for score in card_score %}
<div class="container">
    <div class="row">
    <div class="col">
        <small>{{ score.score_card.paymentsystem }}</small>
    </div>
    <div class="col">
        ****{{score.score_card.card_number | slice:":4"}}
    </div>
    <div class="w-100"></div>
    <div class="col"><p>{{ score.score_balance.balance }}
    {{ score.currency.get }}</div>
    <div class="col">{{score.score_card.type_card}}</div>

        {% endfor %}
</div></div>



{% if all_credit %}
<h5>Кредиты</h5>
{% for credit in all_credit %}
<div class="container">
    <div class="row">

    <div class="col">
         <small class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{credit.target}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'payment_schedule' credit.id %}">График платежей</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </small>
    </div>

        <div class="col"><em class="text-dark">11 мая 2021</em>
    </div>
    <div class="w-100"></div>
    <div class="col"><p>
    {{ credit.info.debt }}
    {{ credit.currency.symbol }}
    </div>

        <div class="col"><em class="text-dark">к оплате 9064 {{ credit.currency.symbol }}</em></div>
{% endfor %}
</div></div>
{% endif %}
{% endblock content %}