{% extends 'base.html' %}
{% block content %}
<h1>Hola, {{user.username}}</h1>
{% if card_score %}
<h5>Кошелек</h5>
{% for score in card_score %}
<div class="container">
    <div class="row">
    <div class="col">
        <small>{{ score.score_card.paymentsystem }}</small>
    </div>
    <div class="col">
        ****{{score.score_card.card_number | slice:":4"}}
    </div>
    <div class="w-100"></div>
    <div class="col"><p>{{ score.score_balance.balance }}
    {{ score.currency }}</div>
    <div class="col">{{score.score_card.type_card}}</div>
        {% endfor %}
</div></div>
{% endif %}

{% if deposits %}
<h5>Вклады и счета</h5>
{% for dep in deposits %}
<div class="container">
    <div class="row">
    <div class="col">
        <small>{{ dep.type_score }}</small>
    </div>
    <div class="col">
        ****{{dep.score_number | slice:":4"}}
    </div>
    <div class="w-100"></div>
    <div class="col"><p>{{ dep.score_balance.balance }}
    {{ dep.currency }}</div>
    <div class="col"></div>
{% endfor %}
    </div></div>
    </div></div>
{% endif %}




{% if all_score_credit %}
<h5>Кредиты</h5>
{% for score in all_score_credit %}
<div class="container">
    <div class="row">

    <div class="col">
         <small class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{score.score_credit.target}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'payment_schedule' score.score_credit.id %}">Общий график платежей</a>
          <a class="dropdown-item" href="#">Погасить досрочно</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </small>
    </div>

        <div class="col"><em class="text-dark">11 мая 2021</em>
    </div>
    <div class="w-100"></div>
    <div class="col"><p>
    {{ score.score_credit.info.debt }}
    {{ score.currency.symbol }}
    </div>
        <div class="col"><em class="text-dark">к оплате 9064 {{ score.currency.symbol }}</em></div>
{% endfor %}
{% endif %}
{% endblock content %}