{% load account_tag %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>

    <ul class="navbar-nav my-2 my-lg-0">

      <li class="nav-item">
      <a title='курс MOEX на {% get_date_rate_dollar %}' class="nav-link">
          ${% get_rate_dollar %}</a>
      </li>

      <li class="nav-item">
      <a title='курс MOEX на {% get_date_rate_euro %}' class="nav-link">
          €{% get_rate_euro %}</a>
      </li>

      <li>{% if user.is_authenticated %}

       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'personal_cabinet' user.id%}">Личный кабинет</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

          <a class="nav-link" a href="{% url 'logout' %}">
        Выход<span class="sr-only">(current)</span></a>
      </li>
        {% else %}
      <li class="nav-item active">
        <a class="nav-link" a href="{% url 'login' %}">
          Вход <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" a href="">
          Регистрация <span class="sr-only">(current)</span></a>
      {% endif %}
    </ul>
    </li>
  </div>
</nav>